body, 
html,
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-size:30px;
    font-family: 'EB Garamond', serif;
}

body{
    background-color:#b4d7f0;
    align-items: center;
    text-align: center;
}

h4{
    font-size: 0.5rem;
    color: rgb(85, 149, 192);
}

h2{
    color:rgb(101, 131, 151);
    transition: all 0.5s;
}

h2:hover{
    transform:scale(92%);
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.characters{
    color:rgb(112, 151, 136);
    background-color: rgb(213,250,212);
    box-shadow: 10px 5px rgb(153, 228, 209);
    font-size: 0.8rem;
    align-items: center;
    padding:2%;
    width: 21%;
    margin:10px;
    transition: all 0.5s;
}
.characters:hover{
    background-color: rgb(188, 240, 237);
    transform: translateY(7px);
    color: rgb(113, 184, 180);
    box-shadow: 10px 10px rgb(126, 216, 194);
}

/*use max-width when starting as desktop; use min-width when starting ass phone.
keep the "@" codes below those mini code things
when max-width: larger px code goes on top of smaller*/

@media screen and (max-width: 1000px) {
    .characters{
        width:40%;
    }
}

@media screen and (max-width: 500px) {
    .characters{
        width:70%;
    }
}

.cdesc{
    color: rgb(137,207,216);
    font-size: 0.75rem;
}

.art{
    font-size: 0.5rem;
}

img{
    width: 50%;
}
