body, 
html,
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-size: 30px;
}

body{
    background-color:#b4d7f0;
    align-items: center;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.characters{
    color:rgb(113, 151, 112);
    background-color: rgb(213,250,212);
    box-shadow: 10px 5px rgb(153, 228, 209);
    align-items: center;
    padding:2%;
    width: 21%;
    margin:10px;
}

.cdesc{
    color: rgb(137,207,216);
}

img{
    width: 50%;
}