body{
    font-size:20px;
    background-color:#b4c4f0;
    display:flex;
    text-align:center;
    margin: 0 auto;
}

.characters{
    color:rgb(125, 199, 122);
    background-color: rgb(213, 250, 212);
    text-align: center;
    padding: 3px 3px;
    justify-content: space-around;
    margin:10px;
    border-radius: 5px;
    height:250px;
}

.cdesc{
    font-size:1rem;
    text-align: center;
}